﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="612" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1>Attach a User Policy to a Previous Version User</h1>
        <p>It is only mandatory to attach a user policy to users of previous versions of <MadCap:variable name="S3 Connector Variables.ComponentName" /> if the purpose of upgrading to version 6.3 is to be ISO functional.</p>
        <ol>
            <li>Confirm the capability to download the private Scality Docker image.</li>
            <li class="codeparatext_li_lastline">docker login</li>
            <li>List all the accounts known to Vault.</li>
            <li class="codeparatext_li_lastline">docker run --rm --net=host -v "{{pathToVaultSuperadminCredentialsFile}}:/conf/vaultclient.conf" -it scality/s3:{{S3Connector62Image}} bash -c "./node_modules/vaultclient/bin/vaultclient --config /conf/vaultclient.conf list-accounts --host {{hostIPAddress}}"</li>
            <li class="NoteUnder">If necessary, run the <span class="Code_Terminal">-i {{pathTov6.3InventoryFile}} all -m shell -a "docker ps"</span> Ansible command to retrieve the running containers and the name/tags of their associated images.</li>
            <li class="AlertUnder">vaultclient paginates the result in batches of 1000 accounts. If there are more than 1000 accounts, use of the marker flag is necessary (check for the isTruncatedGA6.3 flag in the output).</li>
            <li>Create an access key at the account level once the account names are known, using the following Ansible playbook:</li>
            <li class="codeparatext_li_lastline">ansible-playbook -i {{pathTov6.3InventoryFile}}/inventory -e 'account={{account}} ./tooling-playbooks/generate-access-key.yml</li>
            <li>Attach a policy to the user.</li>
            <li class="codeparatext_li">ansible-playbook \</li>
            <li class="codeparatext_list_indent">-e "account_access_key=&lt;account-access-key&gt;" \</li>
            <li class="codeparatext_list_indent">-e "account_secret_key=&lt;account-secret-key&gt;" \</li>
            <li class="codeparatext_list_indent">-i .&lt;my-env&gt;/inventory \</li>
            <li class="codeparatext_li_indent_lastline">tooling-playbooks/migration/migrate-god-mode-policy.yml</li>
            <li class="NoteUnder">
                <p>The "god" policy gives the user the same permissions as an account with respect to S3 actions.</p>
            </li>
        </ol>
    </body>
</html>