﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="6" MadCap:lastHeight="853" MadCap:lastWidth="658">
    <head>
        <link href="../Resources/TableStyles/MidLevelList.css" rel="stylesheet" MadCap:stylesheetType="table" />
        <link href="../../Resources/TableStyles/MidLevelList.css" rel="stylesheet" MadCap:stylesheetType="table" />
    </head>
    <body>
        <h1>container_name_suffix</h1>
        <p>Among other key differences, <MadCap:variable name="S3 Connector Variables.ComponentName" /> 6.2 is NOT naming docker container with the {{ipAddress}}/{{hostname}} of the machines.</p>
        <p>The <span class="Code_Terminal">docker ps</span> command in previous versions of <MadCap:variable name="S3 Connector Variables.ComponentName" /> will typically reveal:</p>
        <p>
            <img src="../Resources/Images/s3 Connector installation fresh docker ps (1).png" class="OneHundredPercent" />
        </p>
        <table style="width: 100%;mc-table-style: url('../Resources/TableStyles/MidLevelList.css');" class="TableStyle-MidLevelList" cellspacing="0">
            <col class="TableStyle-MidLevelList-Column-Column1" />
            <col class="TableStyle-MidLevelList-Column-Column2" />
            <tbody>
                <tr class="TableStyle-MidLevelList-Body-Body2">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body2">
                        <p class="InTableFormatted">CONTAINER ID</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body2">
                        <p class="InTableFormatted">1948f38db8c5  </p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body3">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body3">
                        <p class="InTableFormatted">IMAGE</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body3">
                        <p class="InTableFormatted">scality/vault-md:GA1.8.1</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body2">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body2">
                        <p class="InTableFormatted">COMMAND</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body2">
                        <p class="InTableFormatted">"/bin/sh -c 'bash -c "</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body3">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body3">
                        <p class="InTableFormatted">CREATED</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body3">
                        <p class="InTableFormatted">2 hours ago</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body2">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body2">
                        <p class="InTableFormatted">STATUS</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body2">
                        <p class="InTableFormatted">Up 2 hours</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body3">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body3">
                        <p class="InTableFormatted">PORTS</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body3">
                        <p class="InTableFormatted">&#160;</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body2">
                    <td class="TableStyle-MidLevelList-BodyB-Column1-Body2">
                        <p class="InTableFormatted">NAMES</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyA-Column2-Body2">
                        <p class="InTableFormatted">scality-vault-10.0.164.62</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>In <MadCap:variable name="S3 Connector Variables.ComponentName" /> 6.2, with a fresh installation, the <span class="Code_Terminal">docker ps</span> command typically reveals:</p>
        <p>
            <img src="../Resources/Images/s3 Connector installation fresh docker ps (2).png" class="OneHundredPercent" />
        </p>
        <table style="width: 100%;mc-table-style: url('../../Resources/TableStyles/MidLevelList.css');" class="TableStyle-MidLevelList" cellspacing="0">
            <col class="TableStyle-MidLevelList-Column-Column1" />
            <col class="TableStyle-MidLevelList-Column-Column2" />
            <tbody>
                <tr class="TableStyle-MidLevelList-Body-Body2">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body2">
                        <p class="InTableFormatted">CONTAINER ID</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body2">
                        <p class="InTableFormatted">1948f38db8c5 </p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body3">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body3">
                        <p class="InTableFormatted">IMAGE</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body3">
                        <p class="InTableFormatted">scality/vault-md:GA6.2.0-rc2</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body2">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body2">
                        <p class="InTableFormatted">COMMAND</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body2">
                        <p class="InTableFormatted">"/bin/sh -c 'bash -c "</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body3">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body3">
                        <p class="InTableFormatted">CREATED</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body3">
                        <p class="InTableFormatted">2 hours ago</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body2">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body2">
                        <p class="InTableFormatted">STATUS</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body2">
                        <p class="InTableFormatted">Up 2 hours</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body3">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body3">
                        <p class="InTableFormatted">PORTS</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body3">
                        <p class="InTableFormatted">&#160;</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body2">
                    <td class="TableStyle-MidLevelList-BodyB-Column1-Body2">
                        <p class="InTableFormatted">NAMES</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyA-Column2-Body2">
                        <p class="InTableFormatted">scality-vault</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>The name of the container, however, is used on filesystem paths (to locate configuration and data files). Thus, following an upgrade from a previous <MadCap:variable name="S3 Connector Variables.ComponentName" /> version to 6.2, the <span class="Code_Terminal">docker ps</span> command should reveal:</p>
        <p>
            <img src="../Resources/Images/s3 Connector installation fresh docker ps (3).png" class="OneHundredPercent" />
        </p>
        <table style="width: 100%;mc-table-style: url('../../Resources/TableStyles/MidLevelList.css');" class="TableStyle-MidLevelList" cellspacing="0">
            <col class="TableStyle-MidLevelList-Column-Column1" />
            <col class="TableStyle-MidLevelList-Column-Column2" />
            <tbody>
                <tr class="TableStyle-MidLevelList-Body-Body2">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body2">
                        <p class="InTableFormatted">CONTAINER ID</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body2">
                        <p class="InTableFormatted">1948f38db8c5 </p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body3">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body3">
                        <p class="InTableFormatted">IMAGE</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body3">
                        <p class="InTableFormatted">scality/vault-md:GA6.2.0-rc2</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body2">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body2">
                        <p class="InTableFormatted">COMMAND</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body2">
                        <p class="InTableFormatted">"/bin/sh -c 'bash -c "</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body3">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body3">
                        <p class="InTableFormatted">CREATED</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body3">
                        <p class="InTableFormatted">2 hours ago</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body2">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body2">
                        <p class="InTableFormatted">STATUS</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body2">
                        <p class="InTableFormatted">Up 2 hours</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body3">
                    <td class="TableStyle-MidLevelList-BodyE-Column1-Body3">
                        <p class="InTableFormatted">PORTS</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyD-Column2-Body3">
                        <p class="InTableFormatted">&#160;</p>
                    </td>
                </tr>
                <tr class="TableStyle-MidLevelList-Body-Body2">
                    <td class="TableStyle-MidLevelList-BodyB-Column1-Body2">
                        <p class="InTableFormatted">NAMES</p>
                    </td>
                    <td class="TableStyle-MidLevelList-BodyA-Column2-Body2">
                        <p class="InTableFormatted">scality-vault-10.0.164.62</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>The name of the container still contains the IP address, which is needed to ensure that the container running <MadCap:variable name="S3 Connector Variables.ComponentName" /> 6.2 is still retrieving the appropriate configuration and data files on the filesystem.</p>
        <p>To that end, it is important that container_name_suffix not be defined in the {{environment}}/group_vars/all, so confirm that the following line is commented therein:</p>
        <p class="codeparatext_lastline"># container_name_suffix: ''</p>
        <p>The fresh new installation should instead contain in /group_vars/all:</p>
        <p class="codeparatext_lastline">container_name_suffix: ''</p>
    </body>
</html>