﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="531" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1>Initiating Rollback</h1>
        <p class="Alert">Prior to upgrading <MadCap:variable name="S3 Connector Variables.ComponentName" />, Scality strongly suggests  preserving the configuration and data files of the original installation. To do this, back up the directory env_host_data indicated in {{pathTov6.2InventoryFile}}/group_vars/all for each host involved in /inventory to a secure location.</p>
        <p>In the event that a rollback to the original <MadCap:variable name="S3 Connector Variables.ComponentName" /> installation is necessary, the following procedure will return the state to what it was just prior to starting the upgrade, assuming no modifications were made following the generation of the backup artifacts:</p>
        <ol>
            <li>Stop any running docker container</li>
            <li class="codeparatext_list_indent">ansible -i {{environment]] all -m shell -a "docker ps -q | xargs -r docker stop"</li>
            <li>Erase a non-running docker container</li>
            <li class="codeparatext_list_indent"> ansible -i {{pathTov6.2InventoryFile}} all -m shell -a "docker ps -a -q | xargs -r docker stop"</li>
            <li>On each host involved in /inventory, locate the directory env_host_data and empty it, and restore the content of the backup</li>
            <li>Using Federation GA1, execute the run.yml Ansible playbook</li>
        </ol>
        <p>Metadata backup stored on the RING could execute, if the S3 metadata has been modified by something else than the ARN migration, once the backups have been generated. As such, testing to metadata read operations (e.g., bucket listing) should be limited, and the attachment of a user policy is outside the scope of any rollback procedure.</p>
        <p class="Note">If the upgrade procedure takes more than a day to execute, special attention should be paid to the automatic metadata backup.</p>
    </body>
</html>