﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="726" MadCap:lastWidth="649">
    <head>
    </head>
    <body>
        <h1>Migrating the Credentials.ini Files</h1>
        <p>A typical <MadCap:variable name="S3 Connector Variables.ComponentName" /> deployment contains two credentials.ini files, one which is used at the federation root (containing the credentials needed to download docker images from docker hub) and one to use in {{pathTov6.2InventoryFile}} that contains the Vault superadmin credentials.</p>
        <p class="Note">Previous versions of <MadCap:variable name="S3 Connector Variables.ComponentName" /> can contain a single credentials.ini file to serve all such needs, located at the federation root.</p>
        <p>The migration of credentials.ini files involves (1) the conversion of the original credentials formats into the newer ones for both docker hub and Vault superadmin, and (2) the erasing of any old credentials .ini files. </p>
        <h2>Generating docker hub Credentials and Vault Superadmin Credentials</h2>
        <p>Scality provides a single playbook for converting docker hub credentials and the Vault superadmin credentials. In GA1, these two informations were stored in the credentials.ini file(s).</p>
        <p>In <MadCap:variable name="S3 Connector Variables.ComponentName" /> 6.2, docker hub credentials are stored in a file named {[environment}}/group_vars/credentials_hub_docker_com.yml (refer to ./env/client-template/group_vars/credentials_hub_docker_com.yml for an example). Moreover, in <MadCap:variable name="S3 Connector Variables.ComponentName" /> 6.2, the Vault superadmin credentials are stored in {{pathTov6.2InventoryFile}}/vault/admin-clientprofile/, a directory within which each is supposed to be the credentials for a vault superadmin (refer to ./env/client-template/vault/admin-clientprofile.example/admin1.js for an example).</p>
        <p>Confirm that the {{pathTov6.2InventoryFile}}/group_vars/credentials_hub_docker_com.yml file is not present (as otherwise the migration may fail) and confirm that the {{pathTov6.2InventoryFile}}/vault/admin-clientprofile/ directory is empty, and then run the following Ansible playbook:</p>
        <p class="codeparatext_lastline">ansible-playbook -i &lt;my-env&gt;/inventory ./tooling-playbooks/migration/dockerhub-and-vaultadmin-from-credentials-ini.yml</p>
        <p>The playbook will read the credentials.ini file at the root of federation and generate a file {{pathTov6.2InventoryFile}}/group_vars/credentials_hub_docker_com.yml, and in addition it will read the credentials.ini file in the directory and populate the {{pathTov6.2InventoryFile}}/vault/admin-clientprofile/.</p>
        <p class="Note">If after being run once the migration sequence is run again, the migration playbook ensures that the data does not differ between the new files and the old credentials.ini files.</p>
        <h2>Erase Old credentials.ini Files</h2>
        <p>Erase or backup any old credentials.ini files.</p>
    </body>
</html>