﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="358" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1>Migrating the Vault Keyfile</h1>
        <p>In the first version of <MadCap:variable name="S3 Connector Variables.ComponentName" /> the Vault encryption key is stored in {{pathTov6.2InventoryFile}}/vault/keyfile, whereas in version 6.2 the key is stored in  {{pathTov6.2InventoryFile}}/vault/keyfile.yml (refer to ./env/client-template/vault/keyfile.yml for an example of the format).</p>
        <ol>
            <li>Confirm that the {{pathTov6.2InventoryFile}}/vault/keyfile.yml file is not present.</li>
            <li>Run the following Ansible playbook to reformat {{pathTov6.2InventoryFile}}/vault/keyfile into {{pathTov6.2InventoryFile}}/vault/keyfile.yml.</li>
            <li class="codeparatext_li_lastline">ansible-playbook -i {{pathTov6.2InventoryFile}}/inventory ./tooling-playbooks/migration/vault-encryption-key-from-flat-file-to-yaml-file.yml</li>
            <li>Erase or backup {{pathTov6.2InventoryFile}}/vault/keyfile.</li>
        </ol>
        <p class="Note">Redeploying with a different master key will make previously stored information unreadable, since  this will make it impossible to generate the same keys previously used for encryption. Therefore, once there is a master key seed, care should be taken to store it in a safe place and to copy it into <cite>keyfile.yml </cite>just prior to redeployment.</p>
    </body>
</html>