﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="714" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1>Post-Installation Tasks</h1>
        <p>To establish an operational service once the <MadCap:variable name="S3 Connector Variables.ComponentName" /> is installed, an account level access key must first be created.</p>
        <p class="Note">The credential configuration files for either awscli or s3cmd can be set following the generation of the account level access key and any user level access key.</p>
        <h2>Generating an Account Level Access Key</h2>
        <p>Following a fresh <MadCap:variable name="S3 Connector Variables.ComponentName" /> installation, it is necessary to create an initial IAM account that can create users, as well as manage the service and buckets. This can all be accomplished by running the generate-access-key.yml Ansible playbook.</p>
        <p class="codeparatext_lastline">ansible-playbook -i ./env/{{targetEnvironmentName}}/inventory -e 'account={{accountName}} password={{accountPassword}} email={{accountEmailAddress}} s3cfg_file={{s3cfgPath}}' tooling-playbooks/generate-access-key.yml/code</p>
        <p class="Note">Access keys attached to an account remain fully functional, however access keys attached to a user do not have any function as no policies are attached to the user.</p>
        <h2>Generating an User Level Access Key</h2>
        <ol>
            <li>Run the docker exec command to access a running s3 container.</li>
            <li class="codeparatext_li_lastline" style="page-break-before: avoid;">docker exec -it scality-s3-52.67.11.63 bash</li>
            <li>Once in the container, navigate to the filesystem.</li>
            <li class="codeparatext_li_lastline" style="page-break-before: avoid;">cd ~/S3/node_modules/vaultclient</li>
            <li>In the filesystem, create a Vaultclient configuration file based on the Federation credentials.ini file.</li>
            <li class="codeparatext_li" style="page-break-before: avoid;">{</li>
            <li class="codeparatext_list_indent">"accessKey": "4TTTOTZ1I063UQJSDHCG",</li>
            <li class="codeparatext_list_indent">"secretKeyValue": "zZNEGP0LgXsK3aks+=wa2kHeX1FaoNBOqz4sJz57"</li>
            <li class="codeparatext_li_lastline">}</li>
            <li>Run the following command set to create the user level access key:</li>
            <li class="codeparatext_li" style="page-break-before: avoid;">./bin/vaultclient create-account --config ./config --name {{accessKey}} --email {{emailAddress}} --password {{verySecretKey}} --host {{hostIPAddress}}</li>
            <li class="codeparatext_li">./bin/vaultclient  create-user --config ./config --account-name {{accessKey}} --name {{username}} --password {{verySecretKey}} --email {{emailAddress}} --host {{hostIPAddress}}</li>
            <li class="codeparatext_li_lastline">./bin/vaultclient --config ./config  create-access-key --account-name {{accessKey}} --user-name {{username}} --host {{hostIPAddress}}</li>
        </ol>
    </body>
</html>