﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="381" MadCap:lastWidth="650">
    <head>
    </head>
    <body>
        <h1>Vault Data Conversion: ARN Changes</h1>
        <p class="Alert">The install-run-requirements.yml step is NOT optional. Different versions of <MadCap:variable name="S3 Connector Variables.ComponentName" /> have different software dependencies.</p>
        <p>To start <MadCap:variable name="S3 Connector Variables.ComponentName" /> 6.2 on a healthy Vault instance, the Vault data must be updated with appropriate ARNs.</p>
        <p>Using the <MadCap:variable name="S3 Connector Variables.ComponentName" /> 6.2 Federation, run the following playbook:</p>
        <p class="codeparatext_lastline">ansible-playbook -i &lt;my-env&gt;/inventory -e "env_deploy_version={{previousS3ConnectorVersion}}" tooling-playbooks/migration/migrate-arn-users.yml</p>
        <p class="Note"> The {{previousS3ConnectorVersion}} can be retrieved in the docker images tags. </p>
        <p>Use the following command to retrieve the running containers and the name/tags of their associated images:</p>
        <p class="codeparatext_lastline">ansible -i ./env/demo/inventory all -m shell -a "docker ps"</p>
        <p>The tooling-playbooks/migration/migrate-arn-users.yml Ansible playbook will stop all metadata-vault containers, create a backup of vaultdb, and subsequently modify raw entries. Of coruse, if Vault is empty — e.g. it contains no accounts — it is not necessary to run the playbook.</p>
    </body>
</html>