/* MadCap Table Style: */

/*<meta conditions="" Version="9" />*/

mcTableStyle
{
	name: SimpleWithPadding;
	border-collapse: collapse;
	max-id: 4;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #696969;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #696969;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #696969;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #696969;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing-y: 0;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	name: Header1;
	id: 2;
	background-color: #d3d3d3;
	font-family: 'Geogrotesque Regular';
	color: #000000;
	text-align: center;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
.TableStyle-SimpleWithPadding
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #696969;
	border-left-width: 2px;
	border-right-style: solid;
	border-right-color: #696969;
	border-right-width: 2px;
	border-top-style: solid;
	border-top-color: #696969;
	border-top-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #696969;
	border-bottom-width: 2px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-SimpleWithPadding-Column-Column1
{
	
}

.TableStyle-SimpleWithPadding-Head-Header1
{
	
}

.TableStyle-SimpleWithPadding-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	background-color: #d3d3d3;
}

.TableStyle-SimpleWithPadding-HeadI-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-SimpleWithPadding-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-HeadE-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-SimpleWithPadding-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-HeadF-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-SimpleWithPadding-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	background-color: #d3d3d3;
}

.TableStyle-SimpleWithPadding-HeadH-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-SimpleWithPadding-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	background-color: #d3d3d3;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-HeadD-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-SimpleWithPadding-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	background-color: #d3d3d3;
}

.TableStyle-SimpleWithPadding-HeadC-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-SimpleWithPadding-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	background-color: #d3d3d3;
}

.TableStyle-SimpleWithPadding-HeadB-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-SimpleWithPadding-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	background-color: #d3d3d3;
}

.TableStyle-SimpleWithPadding-HeadA-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-SimpleWithPadding-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #000000;
	font-family: 'Geogrotesque Regular';
	text-align: center;
	background-color: #d3d3d3;
}

.TableStyle-SimpleWithPadding-HeadG-Column1-Header1 p
{
	color: #000000;
	font-family: 'Geogrotesque Regular';
}

.TableStyle-SimpleWithPadding-Foot-Footer1
{
	
}

.TableStyle-SimpleWithPadding-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleWithPadding-FootI-Column1-Footer1 p
{
	
}

.TableStyle-SimpleWithPadding-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SimpleWithPadding-FootE-Column1-Footer1 p
{
	
}

.TableStyle-SimpleWithPadding-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SimpleWithPadding-FootF-Column1-Footer1 p
{
	
}

.TableStyle-SimpleWithPadding-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-FootH-Column1-Footer1 p
{
	
}

.TableStyle-SimpleWithPadding-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 0px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-SimpleWithPadding-FootD-Column1-Footer1 p
{
	
}

.TableStyle-SimpleWithPadding-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleWithPadding-FootC-Column1-Footer1 p
{
	
}

.TableStyle-SimpleWithPadding-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-FootB-Column1-Footer1 p
{
	
}

.TableStyle-SimpleWithPadding-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleWithPadding-FootA-Column1-Footer1 p
{
	
}

.TableStyle-SimpleWithPadding-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleWithPadding-FootG-Column1-Footer1 p
{
	
}

.TableStyle-SimpleWithPadding-Body-Body1
{
	
}

.TableStyle-SimpleWithPadding-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleWithPadding-BodyI-Column1-Body1 p
{
	
}

.TableStyle-SimpleWithPadding-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-BodyE-Column1-Body1 p
{
	
}

.TableStyle-SimpleWithPadding-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-BodyF-Column1-Body1 p
{
	
}

.TableStyle-SimpleWithPadding-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-BodyH-Column1-Body1 p
{
	
}

.TableStyle-SimpleWithPadding-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-SimpleWithPadding-BodyD-Column1-Body1 p
{
	
}

.TableStyle-SimpleWithPadding-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleWithPadding-BodyC-Column1-Body1 p
{
	
}

.TableStyle-SimpleWithPadding-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleWithPadding-BodyB-Column1-Body1 p
{
	
}

.TableStyle-SimpleWithPadding-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleWithPadding-BodyA-Column1-Body1 p
{
	
}

.TableStyle-SimpleWithPadding-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-SimpleWithPadding-BodyG-Column1-Body1 p
{
	
}


